<div class="text-center">
    <h1 class="display-4">This is the landing page for how we will introduce ourselves.</h1>
 
</div>

<body>
    <div class="card-container">
        <div class="card">
            <img src="~/images/bearjew.png" />
            <p>Cristies opening statement.</p>
            <button>@Html.ActionLink("View Cristie's Page", "CW", "MeetOurTeam", null, new { @class = "btn btn-primary" })</button>
        </div>

        <div class="card">
            <img src="~/images/screenshot 2023-03-20 114321.png" />
            <p>Cristies opening statement.</p>
            <button>@Html.ActionLink("BLAH BLAH?", "blahblah", "MeetOurTeam", null, new { @class = "btn btn-primary" })</button>
        </div>

        <div class="card">
            <img src="~/images/bearjew.png" />
            <p>Cristies opening statement.</p>
            <button>@Html.ActionLink("View Cristie's Page", "CW", "MeetOurTeam", null, new { @class = "btn btn-primary" })</button>
        </div>

        <div class="card">
            <img src="~/images/bearjew.png" />
            <p>Cristies opening statement.</p>
            <button>@Html.ActionLink("View Cristie's Page", "CW", "MeetOurTeam", null, new { @class = "btn btn-primary" })</button>
        </div>

        <div class="card">
            <img src="~/images/bearjew.png" />
            <p>Cristies opening statement.</p>
            <button>@Html.ActionLink("View Cristie's Page", "CW", "MeetOurTeam", null, new { @class = "btn btn-primary" })</button>
        </div>
        <!-- Add more cards as needed -->
    </div>
</body>
